/* Container styles */
/* Individual item styles */
.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Fill grid cell */
  height: auto;
  margin: .3rem 0px;
  padding: .5rem;
  border-radius: .5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 6px 6px 8px rgb(1, 51, 68);
}

.progress-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px lightsteelblue;
}
  /* Progress circle container */
  .progress-circle-container {
    position: relative;
    width: 150px; /* Default size for progress circle */
    height: fit-content; /* Default size for progress circle */
  }
    /* Progress circle SVG */
    .progress-circle-svg {
      transform: rotate(-90deg); /* Rotate the SVG to start from top */
      width: 100%;
    }
      /* Percentage text styling */
  .percentage-text {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .percentage-text-content {
    font-size: 2rem;
    background-color: transparent;
    font-weight: 700;
    width: fit-content;
  }
  
  /* Label styling */
  .label-text {
    margin-top: .1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  /* Description text styling */
  .description-text {
    font-size: 1.1rem;
    color: #4B5563;
  }
  
