/* styles/portfolioPage.css */
.portfolio-page {
  min-height: 100vh;
  width: 100%;
  background-color: #f9fafb;
  font-family: var(--Josefin);
}
.main-content{
  width: 100%;
  padding-top: 4rem;
}
@media (min-width: 576px) {
  .content-grid {
    display: grid;
    grid-template-columns: 300px 2fr;
  }
}