  /*Left Column*/

  .left-column{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
       /* Info Card Styles */
       .info-card {
        background-color: #1e293b;
        border-radius: 0.5rem;
        height: auto;
        width: 90%;
        color: white;
        display: flex;
    flex-direction: column;
    align-items: center;
      }

      .profile-image {
        width: 80%;
        height: 20rem;
        object-fit: cover;
        border-radius: 0.5rem;
        margin: 1.5rem 0px;
        background-image: url(../app/asset/img/desheyeHeader.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100%;
        background-color: aquamarine;
      }
    
 
  .info-list {
    gap: 1rem;
  }
  .info-item {
    display: flex;
    gap: 0.75rem;
    margin: 1rem 0px;
    font-size: 1.1rem;
  }
  .info-icon {
    width: 30px;
    height: 30px;
  }
  .info-content{
    width: 100%;
  }
  .info-value{
    font-size: 1.2rem;
  }
  .linkedinValue{
    color: wheat;
    text-decoration: none;
  }
  .linkedinValue:hover{
    color: orange;
    font-weight: bold;
    transform: scale(.9);
  }