/* Services Page */

.services-page {
  min-height: 100vh;
  width: 100%;
  font-family: var(--Josefin);
  background: linear-gradient(to bottom right, #80a4eb, #030e22);
}
.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.services-header {
  text-align: center;
  margin-bottom: 4rem;
}

.services-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

.services-description {
  color: #f4f6f8;
  max-width: 40rem;
  font-size: 1.3rem;
  margin: 0 auto;
}

.services-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 95%;
}

@media (min-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.service-card {
  position: relative;
  padding: 1.5rem;
  border-radius: 1rem;
  background: rgb(2, 19, 36);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: auto;
}

.service-card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.service-card-icon {
  padding: 0.75rem;
  border-radius: 0.5rem;
  background: rgba(59, 130, 246, 0.1);
}

.service-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #3b82f6;
}

.service-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(251, 255, 255);
}

.service-description {
  font-size: 1.2rem;
  color: #eaf1fa;
  margin-bottom: 1rem;
}

.service-features {
  list-style: none;
  font-size: 1.1rem;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.service-feature {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: wheat;
  margin: .3rem 0px;
  padding: .4rem 0px;
}

.feature-bullet {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: #3b82f6;
}
